body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body header {
  display: flex;
  justify-content: space-between;
  padding: 1% 3%;
  background-color: #13304c;
  height: 15vh;
}

.navbar-nav {
  font-size: 18px;
}

body header img {
  width: 60px;
  filter: drop-shadow(1px 1px 4px rgb(226, 226, 226));
}

body main {
  display: flex;
  height: 85vh;
  background-color: #4a7ba1;
}

.table-cont {
  background-color: white;
}

div#left-bar {
  width: 25vw;
  height: 95%;
  overflow-y: auto;
  overflow-x: visible;
  margin: 1%;
}

#inv {
  display: none;
}

body tbody tr.player.asd.selected-player {
  background-color: rgba(146, 146, 146, 0.3);
}

div#main {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

div#cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

#main div#groups {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 47%;
}

#main div#groups div {
  border: solid 1px rgb(75 75 75 / 30%);
  width: 23%;
}

#seeding-groups {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  overflow-x: auto;
}

#seeding-groups table {
  margin: 5px;
  outline: solid 1px rgb(75 75 75 / 30%);
}

#seeding-groups table caption{
  padding-left: 15px;
}

body td, body th {
  text-align: center;
    align-items: center;
    vertical-align: middle;
}

body .table td, body .table th {
  vertical-align: middle;
}

body .btn-success {
  padding: 3px 10px;
}

#seeding-groups-h3 {
  position: relative;
}

.fa-circle-info {
  font-size: 18px;
  color: rgba(120, 120, 120, 0.5);
}

.seeding-info {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: -1;
  opacity: 0;
  bottom: 100%;
  width: 50vw;
  /* height: 50vh; */
  transition: all 0.3s ease-in-out;
  padding: 15px;
  font-size: 16px;
}

.fa-circle-info:hover ~ .seeding-info {
  opacity: 1;
  z-index: 2;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0,0.2);
  border: 1px solid #13304c;
}

#main-groups {
  width: 100%;
  display: flex;
  padding: 10px;
}

/* #main-groups .top-part div#groups div {
  border: solid 1px rgb(75 75 75 / 30%);
  width: 23%;
} */

.group-cont {
  width: 23%;
}

#main-groups div#groups {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#main-groups #groups .top-part, #main-groups #groups .bot-part {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

#main-groups #groups .bot-part {
  padding-bottom: 5px;
}

div.bot-part div.eachJCont {
  width: 100%;
}

div.bot-part table {
  width: 100%;
  margin: 5px;
}

div.bot-part h3 {
  font-size: 18px;
  text-align: center;
  padding-top: 7px;
  margin-bottom: 3px;
}

div.bot-part td {
  width:40%;
  font-size: 0.95rem;
}

div.bot-part caption {
  caption-side: top;
  padding: 6px 0 3px 10px;
  font-size: 13px;
}

.qualified, .winner {
  background-color: rgba(72, 235, 86, 0.3);
}

.disqualified, .loser {
  background-color: rgba(235, 72, 72, 0.3);
}